<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form di Registrazione</title>
    <link rel="stylesheet" href="static/style.css">


</head>
<body>
    <p></p>
    <h2>Form di Registrazione</h2>


    <form action="/submit_form" method="post">
        <input type="text" id="name" name="name" placeholder="Nome" required>
        <br>
        <input type="text" id="surname" name="surname" placeholder="Cognome" required>
        <br>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Formato: 1234567890" required>
        {% if errorr_message %}
            <p style="color: red; max-width: 80%; max-width: 400px;">{{ errorr_message }}</p>
        {% endif %}
        <br>
        <label for="paymentchoice">Come intendi pagare?</label>
        <br>
        <select id="paymentchoice" name="paymentchoice" required>
            <option value="" disabled selected hidden>Scegli un metodo di pagamento</option>
            <option value="paypal">Paypal</option>
            <option value="bonifico">Bonifico</option>
            <option value="tinaba">Tinaba</option>
            <option value="satispay">Satispay</option>
        </select>
        <br>
        <br>

        {% for c in cocktails_list %}
            <label>{{c.display}}</label>
            <div class="input-group">
                <button type="button" class="decrement">-</button>
                <input type="number" class="inputqt" name={{c.nome}} id="{{c.nome}}inputqt" value="0" readonly>
                <button type="button" class="increment">+</button>
            </div>
        {% endfor %}

    <br>
    <input type="submit" value="Registra">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const increments = document.querySelectorAll(".increment");
            const decrements = document.querySelectorAll(".decrement");
            const inputs = document.querySelectorAll(".inputqt");

            function increment(index) {
                inputs[index].value++;
            }

            function decrement(index) {
                if (inputs[index].value > 0) {
                    inputs[index].value--;
                }
            }

            increments.forEach((inc, index) => {
                inc.addEventListener("click", () => {
                    increment(index);
                });
            });

            decrements.forEach((dec, index) => {
                dec.addEventListener("click", () => {
                    decrement(index);
                });
            });
        });
    </script>

    </form>
</body>
</html>
